<script>
  import { onMount } from 'svelte'
  import ProductCreator from './ProductCreator.svelte'
  import Product from './Product.svelte'
  export let author

  import productSeeds from './data/products'
  import company from './data/company'

  let products = productSeeds

  const addProduct = product => {
    products = [...products, product]
    console.log(products)
  }
</script>

<h1>Does Your Business Own You?!</h1>
<h3>{author || 'Enter your business name'}</h3>
<p>An app to keep track of how much your business actually makes!</p>
<p>
  main idea: user enters a product, and based on the product's price, minus cost
  of expenses, they get the price per hour of how much their company makes -
  tells how much to save for taxes etc
</p>
<p>
  They then put in their desired profit margin and monthly expenses to make sure
  they have a realistic picture of keeping their business running
</p>
{#each products as product}
  <Product {company} {product} />
{/each}
<ProductCreator {addProduct} />
