<script>
  import { moneyIfy } from './modules/viewHelpers'
  export let expense
  export let product

  expense.amount = expense.cost

  if (expense.percentage) {
    expense.amount = (product.price * expense.percentage) / 100
  }
</script>

<div>{expense.name}: ${moneyIfy(expense.amount)}</div>
