<script>
  import HotInput from "./HotInput.svelte";
  export let addProduct;
  let name, price, product;

  let expenses = [];
  let work_hours = [];

  const submit = () => {
    product = { name, price: parseInt(price) };
    addProduct(product);
    console.log(product);
    name = "";
    price = "";
  };
</script>

<form on:submit|preventDefault={submit}>
  <HotInput bind:value={name} type="name" />
  <HotInput bind:value={price} type="price" />
  <button>Create Product!</button>
</form>
