<script>
  import Expense from './Expense.svelte'
  import TimeBlock from './TimeBlock.svelte'
  import HotInput from './HotInput.svelte'
  import { moneyIfy } from './modules/viewHelpers'

  export let product
  export let company
  let desiredHourly

  product.originalPrice = product.price

  const calculate = () => {
    // recalculate all values on this
    // add option to save package
    product.totalExpenses = 0
    product.totalHours = 0

    product.expenses.forEach(ex => {
      ex.amount = ex.cost
      if (ex.percentage) ex.amount = (product.price * ex.percentage) / 100
      product.totalExpenses += ex.amount
    })

    product.grossProfit = product.price - product.totalExpenses
    product.totalTaxes = (product.grossProfit * company.taxRate) / 100
    product.netProfit = product.grossProfit - product.totalTaxes
    product.profit = (product.netProfit * company.profitMargin) / 100
    product.cashFlow = product.netProfit - product.profit
    product.timeBlocks.forEach(block => (product.totalHours += block.hours))
    product.hourly = product.cashFlow / product.totalHours
  }

  const recalculate = desired => {
    if (!desired) return
    let rate = desired / product.originalHourly
    product.price = rate * product.originalPrice

    console.log('recalculate', desired, product.originalPrice, rate)
    calculate()
  }

  calculate()
  product.originalHourly = product.hourly

  $: recalculate(desiredHourly)
</script>

<style src="./product.css">

</style>

<div class="product">
  <h3>
    {product.name} - ${moneyIfy(product.price)} => Your Hourly Pay ${moneyIfy(product.hourly)}
    / hour
  </h3>
  <div class="product-overview">
    <div>
      <h4>Expenses</h4>
      {#each product.expenses as expense}
        <Expense {expense} {product} />
      {/each}
    </div>
    <div>
      <h4>Time Blocks</h4>
      {#each product.timeBlocks as block}
        <TimeBlock {block} />
      {/each}
      <div class="total">Total Hours: {product.totalHours}</div>
    </div>
    <div class="breakdown">
      <div>Total Costs ${moneyIfy(product.totalExpenses)}</div>
      <div>Gross Profit (before tax) ${moneyIfy(product.grossProfit)}</div>
      <div>Tax To Pay ${moneyIfy(product.totalTaxes)}</div>
      <div>Net Profit (after tax) ${moneyIfy(product.netProfit)}</div>
      <div>Company Profit ${moneyIfy(product.profit)}</div>
      <div>
        Cash Flow (After Company Gets Paid) ${moneyIfy(product.cashFlow)}
      </div>

      <div>
        Enter Your Desired Hourly Rate
        <input bind:value={desiredHourly} class="rate" />
        / hour
      </div>
      <div>
        <input bind:value={desiredHourly} type="range" min="1" max="100" />
      </div>
    </div>
    <button>Edit</button>
  </div>
</div>
