.product {
  border: 3px #ccc solid;
  background: #eee;
  border-radius: 2vmin;
  padding: 1vmin;
  /* width: 50%; */
  text-align: center;
}

.product-overview {
  display: flex;
  justify-content: space-around;
}

.total {
  font-weight: bold;
}

.rate {
  width: 15vmin;
}
